* { color: #F1E6D9; }

window#waybar { background: #1B1C1D; }

#workspaces button { padding: 1px 2px 1px 2px; }
#workspaces button.focused { background: #5A89AD; }
#workspaces button:hover   { background: #384048; }

#mode, #tray, #pulseaudio, #battery, #clock { padding: 1px 8px 1px 8px; }

#pulseaudio { background: #22262A; }

#battery                   { background: #22262A; }
#battery.warning           { background: #CFA000; }
#battery.warning.charging  { background: #22262A; }
#battery.critical          { background: #BF4052; }
#battery.critical.charging { background: #00AF60; }

#clock { background: #384048 }
